[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flask-sqlalchemy = "*"  
pytest-flask = "*"
coverage = "*"
isort = "*"
nose = "*"
pylint = "*"
flake8 = "*"
autopep8 = "*"


[packages]
aiocontextvars = "*"
alembic = "*"
aniso8601 = "*"
appdirs = "*"
astroid = "*"
attrs = "*"
bcrypt = "*"
blinker = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
colorama = "*"
contextvars = "*"
docutils = "*"
flask-marshmallow = "*"
idna = "*"
immutables = "*"
itsdangerous = "*"
jmespath = "*"
lazy-object-proxy = "*"
loguru = "*"
marshmallow = ">=3"
marshmallow-sqlalchemy = "*"
mccabe = "*"
pathspec = "*"
psycopg2-binary = "*"
pycparser = "*"
pdfrw = "*"
pdfminer = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
python-http-client = "*"
pytz = "*"
regex = "*"
requests = "*"
s3transfer = "*"
sendgrid = "*"
six = "*"
toml = "*"
typed-ast = "*"
urllib3 = "*"
win32-setctime = "*"
wrapt = "*"
Flask = "*"
Flask-JWT-Extended = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Flask-Testing = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
PyJWT = "*"
PyPDF2 = "*"
SQLAlchemy = "==1.3.23"
Werkzeug = "*"


[requires]
python_version = "3.8"
